@import url(./content/normalize.css);

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: #242424;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --shadow-color: #242424;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.balance-viewer h1 {
  font-size: 2em;
}

.balance-viewer h3 {
  font-size: 1.5em;
}

.balance-viewer h4 {
  margin: 0;
}

.balance-view {
  grid-template-columns: 2em 1fr 2em;
  outline: 1px solid #999;
  padding-left: 5px;
  column-gap: 1em;
  position: relative;
  overflow: hidden;
  height: 80px;
}

.balance-view h4,
.balance-view p,
.balance-view .editable .input {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
  align-self: center;
  justify-self: left;
}

.balance-view .editable {
  align-items: center;
}

.balance-view .editable .input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #999;
}

.balance-view label.checkbox {
  align-self: center;
  justify-self: center;
}

.balance-view label.checkbox.delete {
  border-left: 1px solid #555;
  column-gap: 0;
  row-gap: 0;
  place-items: center;
  place-content: center;
  box-shadow: 0px 0 5px -1px #000044;
  width: 100%;
  transition: all 150ms;
}

.balance-view label.checkbox.delete:active {
  transition: all 150ms;
  box-shadow: 0px 0 5px -1px #101044 inset;
}

.checkbox-svg {
  height: 32px;
  width: 32px;
}

label.checkbox:hover {
  cursor: pointer;
}

.balance-view label.checkbox.edit {
  height: 32px;
  width: 100%;
  align-items: center;
}

.balance-view input.checkbox {
  display: none;
}

.balance-view .delete-button {
  position: absolute;
  box-shadow: 0 0 10px -2px black;
  width: 75%;
  height: 100%;
  background-color: #f11;
  color: white;
  border-radius: 0;
  transform: translateX(-120%);
  transition: all 150ms;
}

.balance-view input.checkbox.delete:checked~.delete-button {
  transform: translateX(-10%);
}

.balance-view .options-checkbox {
  width: 100%;
  height: 82px;
}

.checkbox-svg .line {
  stroke: transparent;
  transition: all 150ms;
}

.checkbox-svg .square {
  fill: #e5e5e5;
  transition: all 150ms;
}

.checkbox-svg:active .square {
  fill: #84B483;
}

.balance-view input.checkbox:checked+label.checkbox.edit .checkbox-svg .square {
  fill: #94DC85;
}

.checkbox-svg:active .line,
.balance-view input.checkbox:checked+label.checkbox.edit .checkbox-svg .line {
  stroke: white;
}

.negative-bal {
  color: #f11;
}

.balances {
  box-shadow: -2px 0px 5px -2px #555, 2px 0px 5px -2px #555;
}

.balance-total,
#final_balance {
  position: relative;
  justify-content: space-between;
}

.balance-total h4,
.balance-total p,
#final_balance h2,
#final_balance p {
  font-size: 1.15em;
  margin-top: 1em;
  margin-bottom: 0;
  background: white;
}

#final_balance h2,
#final_balance p {
  font-size: 1.75em;
  margin-top: 1em;
}

#final_balance::after,
.balance-total::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-bottom: 3px dotted grey;
  transform: translateY(-8px);
}

#final_balance::after {
  transform: translateY(-3px);
}

.circle {
  fill: grey;
}

.card {
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  box-shadow: 0 2px 10px -5px var(--shadow-color);
  padding: 2em;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.center-text {
  text-align: center;
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.balance-form {
  row-gap: 1em;
}

.error-message {
  font-size: .75em;
  color: transparent;
  transition: all 150ms;
}

.error-message.display {
  color: #f33;
  transform: translateY(3rem);
}

.form-input {
  transition: all 150ms;
  position: relative;
  width: 100%;
  height: 3em;
  margin-bottom: 2rem;
}

.form-input label {
  transform: translateY(-10px);
  transition: transform 150ms;
  z-index: -1;
  border-bottom: 1px solid transparent;
}

.form-input label,
.form-input input {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1em;
}

.form-input input {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  border-bottom: 1px solid #d0d0d0;
}

.form-input input:placeholder-shown+label {
  transform: translateY(12px);
  color: transparent;
  transition: all 150ms;
}

.form-input input:focus,
.form-input input:focus-visible {
  outline: none;
  border-bottom: 3px solid #999;
}

#balances_container,
#final_balance {
  width: 100%;
  margin: 0 auto;
}

#balances_container {
  width: calc(100% - 4rem);
  margin-top: 2em;
  max-width: 600px;
  justify-self: center;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  box-shadow: 0 2px 10px -5px var(--shadow-color);
  padding: 2em;
  row-gap: 1em;
}

@media screen and (max-width: 600px) {
  .balance-form {
    width: 85%;
  }

  #balance_forms {
    justify-items: center;
    row-gap: 1em;
  }
}

@media screen and (min-width: 601px) and (max-width: 1199px) {
  #balance_forms {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1em;
    column-gap: 1em;
  }

  #balance_forms h2:first-child {
    grid-area: 1 / span 2;
  }
}

@media screen and (min-width: 1200px) {
  #balance_forms {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1em;
    column-gap: 1em;
  }

  #balance_forms h2:first-child {
    grid-area: 1 / span 4;
  }

}